.sectionBody { padding: 0px 15px; }
.header-form-search td:nth-child(1) { }
.sectionBody { padding-top: 10px; }
.header-form-search input[name="search_orderid"], .header-form-search input[name="search_date"], .header-form-search input[name="search_username"] { border-style: solid; border-width: 1px; padding: 4px 2px 4px 4px; min-height: 17px; vertical-align: middle; min-width: 150px; background-color: rgb(255, 255, 255); transition: all 0.2s ease 0s; border-color: rgb(219, 219, 219); box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px inset; height: 36px; line-height: 1.38462; margin: 0px 7px 0px 0px; }
.header-form-search b { font-weight: 500; font-size: 13px; }
.header-form-search button i { margin-right: 5px; }
.header-form-search button {font-size: 14px;/* color: rgb(78, 78, 78); *//* background: rgb(255, 255, 255); *//* border-radius: 3px; *//* border: 1px solid rgb(228, 228, 228); *//* padding: 0px 15px; *//* width: auto; *//* min-width: 100px; *//* height: 2.4em; *//* margin-top: 0px !important; */}
.header-form-search button:hover { background: none rgb(19, 119, 197); filter: none; box-shadow: none; border-color: rgb(19, 119, 197); transition: none 0s ease 0s; color: rgb(255, 255, 255) !important; }
.pagination a { font-size: 13px; color: rgb(19, 119, 197); padding: 5px 12px; background: white; border: 1px solid rgb(228, 228, 228); display: inline-block; margin-right: 6px; border-radius: 2px; }
.pagination b { font-size: 12px; padding: 6px 10px; }
.pagination { margin-bottom: 15px; font-size: 0px; }
.pages { padding-top: 0px; }
#ordersTable { margin-bottom: 20px; width: 100%; }
.sectionBody .actionButtons a { }
.sectionBody > div > div:nth-of-type(2) .actionButtons { display: flex; align-items: flex-start; justify-content: flex-end; }
.order-table th { background: rgb(245, 245, 245); }
.order-table th, .order-table td { border: 1px dotted rgb(224, 224, 224); padding: 5px 9px; }
.order-table th { color: rgb(0, 0, 0); }
.header-form-search select { display: block; border-radius: 0px; background: white; margin-right: 7px; width: unset; max-width: unset; height: 36px !important; }
.sectionHeader { background: rgb(245, 245, 245); padding: 9px; font-size: 1.8em; line-height: 35px; margin: 15px; color: rgb(82, 82, 82); }
#ordersTable .fa-trash { border-radius: 3px; display: block; margin: 1px; min-width: 22px; font-size: 15px; }
.pagination a:hover { color: rgb(255, 255, 255); background: rgb(19, 119, 197); border-color: rgb(19, 119, 197); text-decoration: none; }
.actionButtons img { display: inline-block; vertical-align: middle; }
.color-listing__item { margin-top: 10px; }
.color-listing__item input.colorwell { border-radius: 0px; border: 1px solid rgb(230, 230, 230); }
.wrapper-contacts-info__description .config-caption-name { min-width: 130px; display: inline-block; vertical-align: middle; }
.wrapper-contacts-row { margin-bottom: 10px; }
.wrapper-contacts-info__description { font-size: 0px; margin-top: 15px; }
.wrapper-contacts-row span, .wrapper-contacts-row input { font-size: 13px; }
.total-order-info-row {margin-bottom: 0px;/* margin-top: 15px; */font-size: 15px;}
.order-tab-1-wrapper { min-height: 150px; padding: 15px 0px; }
.order-tab-2-wrapper { min-height: 200px; padding: 15px 10px; }
.order-prododucts-listing { display: flex; width: 100%; flex-wrap: wrap; margin: 0px; padding: 0px 10px; }
.order-prododucts-listing li { width: 100%; margin: 0px; padding: 10px 0px; border-top: 1px solid rgb(202, 202, 202); }
.order-prododucts-listing li:nth-child(1) { border: 0px; }
.order-prododucts-listing li a { margin-right: 5px; }
.order-tab-2-wrapper h3 { margin-bottom: 10px; }
.add-to-order-splitter { margin-top: 25px; }
.listing-edit-order-products td { vertical-align: middle; }
.listing-edit-order-products label { margin: 0px; display: inline-flex; align-items: center; justify-content: center; }
.listing-edit-order-products .splitter { display: block; width: 100%; height: 1px; background: rgb(236, 236, 236); margin-top: 5px; margin-bottom: 5px; }
.listing-edit-order-products tr:last-child { display: none; }
.base--contact-info-wrapper__row__caption { margin-bottom: 5px; }
.base--contact-info-wrapper__row { margin-bottom: 15px; }
.base--contact-info-wrapper__row > input, .base--contact-info-wrapper__row > textarea { min-width: 390px; height: auto; padding: 5px 10px !important; }
.base--contact-info-wrapper__row__caption-title { font-size: 18px; font-weight: 500; }
#ordersTable .remove-btn { border-radius: 4px; display: inline-block; background: transparent; border-color: rgb(82, 82, 82); color: rgb(82, 82, 82); }
.order-table [align="center"] { text-align: center !important; }
#ordersTable .remove-btn:hover { background: rgb(230, 58, 81); color: rgb(255, 255, 255); }
#ordersTable { background: rgb(255, 255, 255); }
@-webkit-keyframes rotating {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
a:hover .fa-spinner, a:not(:hover) .fa-cog { animation: 2s linear 0s infinite normal none running rotating; }
.wrapper-foot-pages { display: flex; padding-right: 15px; }
.wrapper-foot-pages .pages { flex-grow: 1; }
.sectionBody { padding-bottom: 40px; }
.sectionHeader .fa { margin-right: 5px; }
form h2 { font-size: 1.46em; position: relative; margin-bottom: 15px; }
@media (max-width: 1250px) {
    #ordersTable td:nth-child(6), #ordersTable th:nth-child(6) { display: none; }
}
@media (max-width: 1100px) {
    .wrapper-foot-pages { display: block; }
}
@media (max-width: 900px) {
    #ordersTable thead { display: none; }
    #ordersTable tfoot { display: none; }
    #ordersTable tbody tr { display: flex; flex-flow: row wrap; border-width: 1px 1px 0px; border-top-style: solid; border-right-style: solid; border-left-style: solid; border-top-color: rgb(219, 219, 219); border-right-color: rgb(219, 219, 219); border-left-color: rgb(219, 219, 219); border-image: initial; border-bottom-style: initial; border-bottom-color: initial; }
    .order-table td { border: 0px; }
    #ordersTable tbody tr td:nth-child(1) { order: 4; flex-grow: 1; padding-top: 8px; text-align: right !important; }
    #ordersTable tbody tr td:nth-child(2) { order: 2; display: none; }
    #ordersTable tbody tr td:nth-child(3) { order: 1; }
    #ordersTable tbody tr td:nth-child(4) { width: calc(100%); order: 5; }
    #ordersTable tbody tr td:nth-child(5) { order: 12; text-align: left; font-size: 20px; }
    #ordersTable tbody tr td:nth-child(6) { }
    #ordersTable tbody tr td:nth-child(7) { order: 2; flex-grow: 1; }
    #ordersTable tbody tr td:nth-child(8) { order: 20; flex-grow: 0; justify-content: flex-end; text-align: right !important; }
    #ordersTable tbody tr td:nth-child(9) { display: none; }
    #ordersTable tbody tr td:nth-child(10) { order: 4; flex-grow: 0; padding-top: 7px; text-align: right !important; }
    #ordersTable tbody tr td:nth-child(11) { }
    #ordersTable tbody tr td:nth-child(3) b::before { content: "#"; }
    .header-form-search { }
    .header-form-search table tbody { flex-flow: row wrap; width: 100%; display: flex !important; }
    .header-form-search table { display: block; width: 100%; }
    .header-form-search table tbody tr { width: 100%; flex-wrap: wrap; display: flex !important; }
    .header-form-search table tbody td { display: block; }
    .header-form-search table tbody tr td { width: 50%; display: flex; flex-direction: column; }
    .header-form-search table tbody tr td input { min-width: 100% !important; }
    .header-form-search table tbody tr td:last-child { width: 100%; }
    #ordersTable tbody tr { padding: 5px; border-width: 0px 1px 1px; border-right-style: solid; border-left-style: solid; border-right-color: rgb(234, 234, 234); border-left-color: rgb(234, 234, 234); border-image: initial; border-bottom-style: solid; border-bottom-color: rgb(228, 228, 228); border-top-style: initial; border-top-color: initial; }
    #ordersTable tbody tr td:nth-child(1) { display: none; }
    #ordersTable tbody tr td:nth-child(8) { flex-grow: 1; }
    #ordersTable tbody tr { justify-content: center; align-items: center; }
    #ordersTable tbody tr td:nth-child(3) { padding-top: 10px; }
    #ordersTable tbody tr td:nth-child(7) { padding-top: 10px; }
    #ordersTable tbody tr td:nth-child(4) { padding: 11px 10px; }
    .pagination a { margin-bottom: 5px; }
    form input[type="text"], form input[type="password"], form input[type="number"], form textarea, .base--contact-info-wrapper__row > textarea { min-width: 0px; width: 100%; max-width: 100% !important; }
    .header-form-search td:nth-child(1) { padding-left: 3px; }
}
@media (max-width: 600px) {
    #ordersTable tbody tr { margin-bottom: 15px; box-shadow: rgb(204, 204, 204) 0px 0px 17px -3px; }
    #ordersTable { background: transparent; border: 0px; }
    .header-form-search { background: rgb(255, 255, 255); margin: 0px -15px; padding: 30px 15px; box-shadow: rgb(156, 156, 156) 0px 0px 14px -5px; }
    #ordersTable { margin-left: -15px; margin-right: -15px; width: calc(100% + 30px); }
    ul.actionButtons { display: inline-block; width: auto !important; float: none !important; }
    .editable-wrapper td { width: 100%; }
}
.order-table .header { text-indent: unset; position: relative; padding: 9px; margin: 0px; vertical-align: unset; color: rgb(82, 82, 82); }
.search-block { background: rgb(245, 245, 245); padding: 9px; display: flex; align-items: center; justify-content: space-between; }
.sectionBody .export-wrp { min-height: 32px; background: rgb(245, 245, 245); padding: 9px; display: flex; align-items: start; justify-content: flex-end; margin-top: 15px; }
.sectionBody .export-wrp a { margin-left: 7px; }
.sectionBody .export-wrp a:first-child { margin-left: 0px; }
.base--contact-info-wrapper { padding: 15px 10px; }
.buttons { display: flex; align-items: center; margin: 0px; padding: 0px; list-style: none; }
.buttons__flex--justify-start { justify-content: start; }
.buttons__flex--justify-end { justify-content: flex-end; }
.buttons__item { margin: 0px 14px 0px 0px; }
.buttons__item:last-child { margin-right: 0px; }
.header-form-search { }
.header-form-search table tbody { }
.header-form-search table { }
.header-form-search table tbody tr { width: 100%; flex-wrap: wrap; display: flex; align-items: center; }
.header-form-search table tbody td { }
.header-form-search table tbody tr td { padding: 0px; }
.header-form-search table tbody tr td input { }
.header-form-search table tbody tr td:last-child { }
.header-form-search td:nth-child(1) { }
.search-block { background: rgb(245, 245, 245); padding: 9px; }
.header-form-search input, .header-form-search select, .header-form-search button {height: 36px !important;}

.total-order-info {
    background: rgb(245, 245, 245);
    padding: 9px;
    font-size: 1.8em;
    line-height: 35px;
    margin-top: 15px;
    color: rgb(82, 82, 82);
}

.order-info {
    background: rgb(245, 245, 245);
    padding: 9px;
    color: rgb(82, 82, 82);
}